@charset "UTF-8";
/*共同CSS*/
/*---------------------------------------*/
html{
	font-size:62.5%;
}
body{
	font-family: "微軟正黑體";
}
*,*::before,*::after{
	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}
.clearfix:after{
	content:'';
	display: block;
	clear:both;
}

.textcenter{
	text-align: center;
}
.title{
	text-align:center;
	margin-bottom:50px;
	position: relative;
}
.boxsize{
	padding:90px 7.5%;
}

.line:before{
	position:absolute;
	top:50%;
	left:0;
	width:40%;
	content:'';
	display:block;
	border-bottom:1px dotted #d6d1c6; 
}
.line:after{
	position:absolute;
	top:50%;
	right:0;
	width:40%;
	content:'';
	display:block;
	border-bottom:1px dotted #d6d1c6; 
}
.bg{
	background-color:#f5f3ef;
}
p{
	font-size: 15px;
	letter-spacing: .13em;
	line-height: 1.6;
	color:#111;
}
h3{
	font-size:25px;
}
h5{
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1.5;
	color:#111;
}
.gray{
	color:#666;
	font-size:16px;
	line-height: 1.8;
	letter-spacing: 1px;
}
.shortline:before,
.shortline:after{
	width:15px;
	content:'';
	display:inline-block;
	vertical-align: middle;
	border-bottom: 1px solid #d6d1c6;
	margin:0 10px;
}

/*header*/
/*---------------------------------------*/
header{
	max-width:1200px;
	margin:0 auto;
	margin-top:30px;
	box-sizing:border-box;
	padding: 0 10px;
}
/*固定top-bar開始*/
.navBorder{
	width:100%;
	height:70px;
	margin:auto;
	background-color:#fff;
	position:fixed;
	top:0;
	left:0;
	z-index: 9999;
	border-bottom:1px solid rgba(0,0,0,0.2);

}
.nav1{
	max-width: 1200px;
	margin:0 auto;
	padding:0 10px;
	

}
/*固定top-bar結束*/
.logo img{
	margin-top:-10px;
	height:80px;
	float:left;
}
.contact{
	float:right;
	margin-top:15px;
	background-color:#808080;
}
.contact div{
	background-color:#404040;
	padding:6px 0px 6px 6px;
	color:white;
	float:left;
}
.contact i{
	font-size:2.5em;
	vertical-align:-2px;
	padding-right:2px;
}
.contact span{
	font-size:2em;
}
.contact a{
	float:left;
	font-size:1.8em;
	line-height:2.1;
	padding:0px 10px;
	color:#fff;
}
.contact a:hover{
	text-decoration: underline;
}
/*當前網頁*/
.menu{
	margin-top:7px;
	text-align: center;
}
.menu li{
	display: inline-block;
	width:135px;
}
.menu a{
	display:block;
	padding:0 15px;
	color:#111;
	font-size:16px;
	line-height: 65px;
	letter-spacing:1.5px;
	transition:.3s;
	position:relative;
}
.menu .ch{
	display:none;
}
.menu a:after{
	border-bottom: 1px solid ;
	width:0;
	margin:-15px auto;
	display:block;
	content:'';
	transition:all 0.3s ease;
}
.menu a:hover{
	
	transition:.3s;
}
.menu a:hover .ch{
	
	transition:.3s;
	display:block;
}
.menu a:hover .en{
	transition:.3s;
	display:none;
}
.menu a:hover:after{
	width:70%;
	
}
.humburg{
	display: none;
}
.mobileMenu{
	display: none;
}
/*title-banner*/
/*-------------------------------------------*/
.toptitle{
	margin-top:12px;
	text-align:center;
	position:relative;
}

/*.toptitle .container{
	background-position:center;
	height:365px;
	position:relative;
	margin:0 auto;

}*/
.serviceTitle{
	max-width:100%;
	background:url(../images/serviceImg.png) no-repeat center center;
	height:300px;
	background-size: cover;
	margin:0 auto;

}
.titleText{
	background-color:rgba(255,255,255,0.5);
	width:250px;
	height:130px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;

}
.titleText:before{
	content:'';
	display: inline-block;
	width:0px;
	height:100%;
	vertical-align: middle;
	background-color:red;
}
.titleText .txt{
	display:inline-block;
	vertical-align: middle;
}
.txt h1{
	font-size:36px;
	font-weight: 400;
	color:#111;
}
.txt h4{
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 1.6;
	color:#111;
}
/*flip*/
/*--------------------------------------*/
.flip{
	position:relative;
	perspective: 1200px;

}
.flip .front,
.flip .back{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	right:0;
}
.front{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	/*-webkit-backface-visibility: hidden;
	backface-visibility:hidden;*/
	transition:1s;
}
.back{
	transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility:hidden;
	transition:1s;
}
.flip:hover .front{transform: rotateY(180deg); -webkit-transform: rotateY(180deg);transition:1s;}
.flip:hover .back{transform: rotateY(0deg); -webkit-transform: rotateY(0deg);transition:1s;}
/*service-front&back*/
/*--------------------------------*/
.serviceInfo .front{
	padding:50px 30px;
	position: relative;
	background-color:#DCDCDC;
}
.serviceInfo .front:before,
.serviceInfo .back:before{
	position: absolute;
	top:10px;
	right:10px;
	bottom:10px;
	left:10px;
	display:block;
	content:'';
	border:#fefefe double;
	z-index:1;
}
.serviceInfo .img img{
	height:70px;
	width:auto;
}
.serviceInfo .text{
	margin-top:20px;
}
.serviceInfo .text h5{
	color:#696969;
}
.serviceInfo .back{
	padding:20px;
	background-color: #DCDCDC;
}
.back p{
	color:#696969;
}
.back{
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content:center;
	justify-content: center;
}
.btn{
	display: inline-block;
	width:250px;
	font-size:13px;
	line-height: 45px;
	color:#b09d7c;
	border:#b09d7c 2px solid;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-out;
	max-width: 100%;
	letter-spacing: 1px;
	margin-top:10px;
}
.btn:hover{
	color:#fefefe;
	background-color:#927f5e;
	border:#927f5e 2px solid;
	transition: .3s;
}
.btn:after{
	position: absolute;
	top:0;
	right:15px;
	font-family:'themify';
	content:"\e649";
	font-size:10px;
	font-style:normal;
	font-weight: normal;
	line-height: 45px;
	z-index: 1;
	transition: all .3s ease;
}
.btn:hover:after{
	right:10px;
}
/*gallery*/
/*------------------------------------*/
.gallery{
	margin-bottom:-100px;
}
.gallery .img a{
	position: relative;
	display: block;
}
.gallery .img a:before{
	content:'view more';
	font-size:20px;
	width:150px;
	height:35px;
	line-height: 30px;
	color:#f6f6f6;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	border:1px solid #fff;
	/*background-color: red;*/
	/*background-color: red;*/
    opacity: 0;
	z-index: 3;
	transition: all .5s ease;
}

.gallery .img a:after{
	content:'';
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	transition: all .5s ease;
	background-color:rgba(0,0,0,0.3);
	opacity: 0;
}
.gallery .img a:hover:before,
.gallery .img a:hover:after{
	opacity: 1;
}
/*footer*/
/*-----------------------------*/
footer{
	margin-top:5%;
	background-color:#dcdcdc;
}
.footerContent{
	width:60%;
	margin:0 auto;
	padding-top:5vh;
	/*height:200px;*/
	text-align: center;

}
.footerContent h3{
	font-size:1.8em;
	font-weight: 600;
}
.footerContent p{
	font-size:1.4em;
	line-height: 2;
}

.no1,.no2,.no3{
	position: relative;
	height: 120px;
}
.no2:before,.no3:before{
	border-left: 1px solid rgba(0,0,0,0.3);
	content:'';
	display: block;
	height:120px;
	position: absolute;
	top:-20px;
}
.openTime{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;

}
.openTime:before{
	content:'';
	width:1px;
	height:100%;
	display: inline-block;
	vertical-align:top;
}
.openTime .text{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.footerContent .openTime span{
	display: block;
	margin-top:-6px;
}

/*copyright*/
/*------------------------------------*/
.copyright{
	width:100%;
	background-color:#404040;
	height:auto;
	text-align: center;

}
.footerIcon{
	margin-right:50px;
	margin-top:6px;
	float:right;
}
.footerIcon li{
	width:15%;
	padding:0 30px;
	line-height: 60px;
	display: inline-block;
}
.footerIcon i{
	font-size:25px;
	color:#fff;
	transition:all .2s;
}
.footerIcon i:hover{
	transform: translateY(-3px);	
}
.copyright p{
	font-size:18px;
	width:30%;
	margin:0 auto;
	line-height: 60px;
	color:#fff;
	letter-spacing: 2px;
}
/*gotop*/
/*---------------------------------------------*/
.gotop{
	background-color:rgba(0,0,0,0.5);
	width:40px;
	height:40px;
	border-radius: 50%;
	position:fixed;
	right:0;
	bottom:65px;
	margin:10px;
	z-index:99999;
	text-align: center;
}
.gotop i{
	color:#fff;
	font-size:25px;
	padding-top:7px;
	box-sizing: border-box;

}


/*手機*/
@media screen and (max-width:767px){
	header{
		height:50px;
		margin-top:10px;
	}

	.logo{
		text-align: center;
	}
	.logo img{
		padding-top:10px;
		width:100px;
		height:auto;
		float:none;
		
		
	}
	.hamburg{
		margin-top:-35px;
		width:25px;
		line-height: 32.5px;
		float:right;
		box-sizing: content-box;
		cursor: pointer;

	}
	.menuLine{
		width:100%;
		height:3px;
		background-color:#404040;
		margin:5px 0;
	}
	.contact{display: none;}
	.menu{display: none;}

	/*mobileMenu藏到旁邊*/
	.mobileMenu{
		display:block;
		width:100%;
		height:100%;
		background-color:#f4f4f4;
		opacity: 0.97;
		position:fixed;
		top:0;
		right:-100%;
		z-index:999999;
		transition:.8s;
	}
	/*進來*/
	.active{
	right:0;

	}
	.menuClose>i{
		padding:20px 20px 0 20px;
		font-size:35px;
		color:#404040;
		float:right;
		cursor: pointer;
	}
	.mobileFir{
		width:100%;
		margin:0 auto;
		margin-top:5vh;
	}
	.mobileFtxt{
		font-size:20px;
		letter-spacing: 3px;
		text-align: center;
		padding:0 0 5vh 0;
	}
		.mobileFtxt a {
		color:#999;
		border-bottom: 1px dashed #999;
		display: block;
		width:80%;
		margin:0 auto;
		padding-bottom:40px;
	}
	.mobileFtxt a:hover{
		color:#404040;

	}
	.Icon{
	margin:0px auto;
	width:100%;
	/*background-color: red;*/
	text-align: center;
		
}
.Icon li{
	width:60px;
	line-height: 60px;
	display: inline-block;
}
.Icon i{
	font-size:30px;
	color:#333;

}
.serviceTitle{
	height:200px;
	margin-bottom:-50px;
}
.titleText{
	width:200px;
	height:100px;
}

.txt h1{
	font-size:26px;
	font-weight: 400;
	color:#111;
}
.txt h4{
	font-size: 16px;
	letter-spacing: .2em;
	line-height: 1.6;
	color:#111;
}
.gallery{
	margin-top:-60px;
}
	/*底部gototop*/
	.gotop{
		width:25px;
		height:25px;
		border-radius: 50%;
		bottom:0px;
		margin:auto;
		left:0;
		right:0;
	}
	.gotop i{
		font-size:20px;
		padding-top:3px;
		box-sizing: border-box;

	}


/*footer部分*/
.no1,.no2{display: none;}
.no2:before,.no3:before{
	display: none;
}
.openTime .text{
	text-align: center;
}
.footerIcon{

	margin:0 auto;
	width:100%;
		
}
.footerIcon li{
	line-height: 60px;
	display: inline-block;
	padding:0px;
	width:10%;
	
}

.footerIcon i:hover{
	transform: translateY(-3px);	
}
.copyright p{
	font-size:16px;
	width:100%;
	line-height: 10px;
	color:#fff;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
}
@media screen and (min-width:768px) and (max-width: 992px){
	header{
		height:50px;
		margin-top:10px;
	}

	.logo{
		text-align: center;
	}
	.logo img{
		padding-top:10px;
		width:100px;
		height:auto;
		float:none;
		
		
	}
	.hamburg{
		margin-top:-35px;
		width:25px;
		line-height: 32.5px;
		float:right;
		cursor: pointer;

	}
	.menuLine{
		width:100%;
		height:3px;
		background-color:#404040;
		margin:5px 0;
	}
	.contact{display: none;}
	.menu{display: none;}

	/*mobileMenu藏到旁邊*/
	.mobileMenu{
		display:block;
		width:100%;
		height:100%;
		background-color:#f4f4f4;
		opacity: icon0.97;
		position:fixed;
		top:0;
		right:-100%;
		z-index:999999;
		transition:.8s;
	}
	/*進來*/
	.active{
	right:0;

	}
	.menuClose>i{
		padding:20px 20px 0 20px;
		font-size:35px;
		color:#404040;
		float:right;
		cursor: pointer;
	}
	.mobileFir{
		width:100%;
		margin:0 auto;
		margin-top:5vh;
	}
	.mobileFtxt{
		font-size:20px;
		letter-spacing: 3px;
		text-align: center;
		padding:0 0 5vh 0;
	}
	.mobileFtxt a {
		color:#999;
		border-bottom: 1px dashed #999;
		display: block;
		width:80%;
		margin:0 auto;
		padding-bottom:40px;
	}
	.mobileFtxt a:hover{
		color:#404040;

	}
	.Icon{
	margin:0px auto;
	width:100%;
	/*background-color: red;*/
	text-align: center;
		
}
.Icon li{
	width:60px;
	line-height: 60px;
	display: inline-block;
}
.Icon i{
	font-size:30px;
	color:#333;

}
/*footer部分*/
.no1,.no2{display: none;}
.no2:before,.no3:before{
	display: none;
}
.openTime .text{
	text-align: center;
}
.footerIcon{

	margin:0 auto;
	width:100%;
		
}
.footerIcon li{
	line-height: 60px;
	display: inline-block;
	padding:0px;
	width:8%;
	
}

.footerIcon i:hover{
	transform: translateY(-3px);	
}
.copyright p{
	font-size:18px;
	width:100%;
	line-height: 10px;
	color:#fff;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
}